
@mixin header_button {
    width: 173px;
    height: 43px;
    border: 1px solid #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode' , Geneva , Verdana, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    
}

@mixin img {
    width: 390px;
    height: 255px;
    
}
@mixin header_button($backColor) { // butoane folosite pt toata pagina 
    width: 173px;
    height: 43px;
    border: 2px solid #fff;
    font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 15px; 
    background-color: transparent;
    color: $backColor;   
}

@mixin flexCenter($content)  { //pt aliniere toate central
   
    margin: auto;
    display: flex;
    justify-content: $content;
    align-items: center; 
}

@mixin flexRowCenter {
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex; 
}

@mixin iconLogoLinksHeadear { // dimensiunea logo din header
    width: 32px;
    height: 32px;
    text-decoration: none;   
}

@mixin overtitle-h2 { // format titlu mic tot ce este cu h2 va fi acest template 
    margin: 0;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #FFFFFF; 
}

@mixin big-title {///titlu mare template
    font-family: 'Playfair Display', 'sans-serif';
    font-weight: 100;
    font-size:50px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

@mixin paragraf{
    font-family: 'Open Sans', 'sans-serif';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@mixin button-header{
    background: #F8F4EB;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 22px;
    border: none;
    text-align: center;
    height: 40px;
}

@mixin button-headera-hover {
    background-color: transparent;
    border: solid 2px #F8F4EB;
    color: #F8F4EB;  
}

//  mixin for PREZENTARE GENEREALA 

@mixin div-prezentare{

    width: 100%;
    height:auto;
    background: #F8F4EB;
}

@mixin prezentare-img {
   
    width: 72px;
    height:72px;
    @include flexCenter(center);
    padding-top: 50px;
    margin-bottom: 20px;
}

@mixin prezentare-h1 {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;   
    padding: 16px 59px 30px 59px;
    margin: 0;
    color:#515151;
}

@mixin prezentare-p {
    font-family: 'Open Sans';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center; 
    margin: 0;
    padding:0 50px 50px; 
    color:#515151;

}

@mixin autoMarginLR{
    margin-left:auto;
    margin-right: auto;
}


////////////////////////////////////////////////
////////////////DESPRE NOI MIXIN///////////////
///////////////////////////////////////////////

@mixin despre-h5 {
    font-family: 'Playfair Display';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.3em;
    text-align: center;
    color: #515151;  
}

@mixin despre-h1 {
    font-family: 'Playfair Display';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;  
    color: #515151;

}

@mixin despre-p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;  

}

@mixin despre-button {
    width: 155px;
    height: 40px;
    background: #736758;
    border-radius: 5px;
    border: none;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #fff;
}

//////////////////////////////
// mixin pentru prezentare camere
/////////////////////////////

@mixin camere-h1 {
    font-family: 'Playfair Display';
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;    
}

@mixin image-container-h3 {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;    
}

@mixin image-container-h5 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;    
}

////////////////////////////////////////////////
//////mixin pentru sectia  prezentare camere///
////////////////////////////////////////////////

@mixin small-image-container-3-pictures($imgSorce) {/// for media 0
    background-image: $imgSorce;
    width: 100%;
    height: 53px;
    background-size: cover;
    background-position: center;   
}

