//////// LEGENDA SASS

//////// PROBLEMA !!!! (un loc unde am ramas blocat si am refacut ce am putut din css si cum am considerat)

//////// MOFICAT ! (pagina atata diferit fata de cea originala)

//////// TREBUIE DAT O GEANA ! ( locurile unde poate nu este codul destul de dry sau nu am folotit parametri buni)


////importuri pt mixim
@import "./mixin";

/// versiunea mobila 

@media screen and (min-width: 0px){
    // header main
    header {
        width: 100%;
        background:url("/img/terasa 5.jpeg");
        @include background-img;
        min-height: 255px;
        max-height: 306px;
        box-shadow: inset 0 2000px rgba(218, 154, 14, 0.9);

            figure {
                @include flexCenter(center);
                padding-top:44px;
                padding-right: 45px;
                padding-left: 45px;
                
                    img{    
                    width: 100%;
                    height: auto;
                    max-width: 520px;
                    min-width: 323px;
                    }   
            }    

            button{
                @include header_button(white);
                @include flexCenter(center);
                margin-top:38px ;
            }

            #bk_container div {
                width: 284px;
                padding-top: 10px;
                @include flexCenter(space-between);
                padding-bottom: 10px;

                a{
                    ///@extend div;
                    width: 284px;
                    padding-top: 10px;
                    @include flexCenter(space-between);
                    padding-bottom: 10px;
                }
            }
    
        }

    .hero-section-01 {
            width: 100%;
            height: auto;
            padding-bottom:98px;
            background:url("/img/terasa 5.jpeg");
           @include background-img;
            box-shadow: inset 0 2000px rgba(13, 13, 13, 0.5);
    
            h2{
                padding-top: 265px;
                @include overtitle-h2();
            }
    
            h1{
                padding-top: 29px;
                margin: auto 20px;
                @include big-title();
                
            }
    
            >img{
                @include flexCenter(center);
                margin: 25px auto 25px auto;
            
            }
            p{
                margin: auto 20px;
                @include paragraf();
                padding-bottom: 14.4px;
            }
            
            button{
                color: black;
            }
            #button_section_01{
               @include flexCenter(center);
               flex-direction: column;
               padding-bottom: 270px;
    
                #whats_btn{
                    @include flexCenter(center);
                    @include button-header();
                    width: 284px;
                    display: inline-flex;
                    margin-top: 20px;
    
                        &:hover{
                            @include button-headera-hover();
                            
                        }
    
                    img{
                        margin-right: 10px;
                        &:hover{/// am incercat sa fac un o schimbare de culoare la logo dar nu am reusit din css cred ca pot face ceva cu java 
                            fill: #F8F4EB;
                            color: #ffff;
                            background-image: url("/img/whatzap_for_button1_hover.svg");
                        }
                    }
                    
                }  
                
                #location_btn{
                    @include flexCenter(center);
                    @include button-header();
                    width: 130px;
                    margin-top: 18px;
                    
                    &:hover{
                        @include button-headera-hover();
                    }
    
                    img{
                        margin-right: 10px;
                        &:hover{/// am incercat sa fac un o schimbare de culoare la logo dar nu am reusit din css cred ca pot face ceva cu java 
                            fill: #F8F4EB;
                            color: #ffff;
                           
                        }
                        
                    }
                    
                }
    
                #contact_btn{
                    @include flexCenter(center);
                    @include button-header();
                    width: 108px;
                    margin-top: 18px;
    
                        &:hover{
                            @include button-headera-hover();
                        }
                }
                
            }    
      }

    .prezentare-generala {
        div {
            @include div-prezentare;
            margin-top:10px;
                &:nth-child(3){
                    margin-right: 0;
                }

            >img {
                @include prezentare-img;
            }

            h1{
               @include prezentare-h1;
            }
            
            p{
               @include prezentare-p; 
            }

        }
    }  

    .despre-noi {  // Nu sunt sigur faca este destul de dry codul
        padding:50px 0px;
        figure{
        
            img {
                display:none;
            }
        }

        div{
           
            h5{
                @include despre-h5;
            }

            h1{
                @include despre-h1;
                padding: 0px 20px;
            }

            p{
                @include despre-p;
                padding: 0px 20px;
            }

            button{
                @include despre-button;
                @include flexCenter(center);
            }
        }  
    }

    .prezentare-video{
        aspect-ratio: 16 / 9;
        margin:auto;
        width: 100%;
        height: 100%;
        max-width: 1140px;
        
            iframe{
                  ///nice!
                height: 100%;
                width: 100%;
            }
    }

    .prezentare-camere{
        padding-top: 50px;
        background:#F8F4EB;


            h1{
            @include camere-h1;
            }

            >img{
                margin:auto;
                display:flex;
            }
            .image-container{
                margin: auto;
                padding-bottom:120px;
                
                h3{
                    @include image-container-h3;
                }

                h5{
                    @include image-container-h5;
                }

                >figure{ /// main image in the container
                    max-width: 1140px;
                    height: 450px;
                    margin: auto;
                    border: 10px solid #F8F4EB;
                    background-image: url(/img/apartament-1.jpeg);
                    @include background-img;
                }

                .image-container-3-type {
                    max-width: 1140px;
                    margin: auto;
                    display: flex;
                    
                   /// PROBLEMA !!!!
                   /// SITUL ORIGINAL este foarte responsiv de fiecare cand se modifica width pagini se modifica si height care cred este facut din java sau sass funtion asa ca am facut 4 templaturi  pt cele 4 media screen ///
                    figure {
                        padding:0px;
                        margin:0;
                            ///template pt galerie
                        &:nth-child(1) {
                            @include small-image-container-3-pictures(url(/img/apartament-2.jpeg));
                            margin-right: 10px;
                            margin-left: 10px;  
                        }

                        &:nth-child(2) {
                            @include small-image-container-3-pictures(url(/img/apartament-1.jpeg));
                            margin-right: 10px;   
                        }

                        &:nth-child(3) {
                            @include small-image-container-3-pictures(url(/img/apartament-3.jpeg));
                            margin-right: 10px;  
                        }

                        &:nth-child(4) {
                            @include small-image-container-3-pictures(url(/img/apartament5.jpeg));
                            margin-right: 10px;  
                        }
                    }
                    
                }
                /// exceptie pt camera dubla (4 img)
                div.extra-img>figure {
                     &:nth-child(1) {
                        background-image: url(/img/camera-dubla.jpeg);
                    }        
                }  
                /// exceptie pt galerie terasa 
                div.foisor > figure {
                    &:nth-child(1){
                        background-image: url(/img/terasa4.jpeg);
                    }     
                    
                    &:nth-child(2){
                        background-image: url(/img/terasa2.jpeg);
                    } 

                    &:nth-child(3){
                        background-image: url(/img/terasa3.jpeg);
                    } 

                    &:nth-child(4){
                        background-image: url(/img/terasa5.jpeg);
                    } 
                }  
                
        }
        /////imaginea principala pentru camera dubla 
        .second-container > figure {
            background-image: url(/img/camera-dubla.jpeg);
            
        }
        
        ///// imaginea principala pentu camerea triplate
        .third-container > figure {
            background-image: url(/img/cameraTripla-1.jpeg);
        }

        ///// imagine principala pentru apartament
        .forth-container > figure {
            background-image: url(/img/camera-dubla3.jpeg);
        }

        ///// imagine principala pentru foisor ,gratar etc
        .foisor-container {

            h3 { 
                line-height: 30px;
                margin-bottom: 10px;
            }

            figure {
            background-image: url(/img/terasa4.jpeg);
            }
        }
    }

    .prezentare-servici {
        width: 100%;

        // un sub headear care o sa il refolosesc 
          #reusable-subheader{
                width: 100%;
                height: 300px;
                background-image: url(/img/terasa5.jpeg);
                background-size: cover;
                background-position: center;
                box-shadow: inset 0 2000px rgba(13, 13, 13, 0.5);
                @include flexCenter(center);
            
                h1{
                @include servici-title-h1;
                }
            }
            //float left
             >div:nth-child(2) {
                padding: 10px;

                    img{
                        padding-top: 39px;
                        width: 100%;
                        height: 3px;
                    } 

                    h5{
                        @include prezentare-servici-h5;
                        margin-top: 28px;
                        margin-bottom: 0;
                    }

                    h1{
                        @include prezentare-servici-h1;
                        margin-top: 10px;
                        padding: 0;
                        margin-bottom: 0;
                    }    
             }
             //float left
              div:nth-child(2){
                 padding: 10px;
                p{
                    @include prezentare-servici-p; 
                    margin: 0;
                }
             }
        

        .prezentare-servici-box-model{
            width: 100%;
            margin: auto;
            padding: 10px;

            >img{
                width: 72px;
                margin: auto;
                display: flex;
                justify-content: center;
            }

            h3{
                @include prezentare-servici-box-model-h3;
                margin-bottom: 10px;
            }

            p{
                @include prezentare-servici-box-model-p;
                margin: auto 20px;
            }
        }
    }   

    .prezentare-puncte-forte {
        margin-top: 50px;
       
        div { //// wrap around 
            margin: 50px 0;
            background: #F8F4EB;
            padding-bottom: 10px;

            figure {// imaginea de fundal 
                background-image: url(/img/video_games.png);
                @include background-img;
                height: 500px;
                margin: 0;
            }
            ///left float
            .forte-img-wrap-left {
                width: 100%;
                padding: 0;

                h1 {
                    @include prezentare-servici-h1;
                    margin-top: 20px;         
                    padding: 0 50px;       
                }

                img {
                    display: flex;
                    width: 33px;
                    margin: 30px auto;
                }

                p {
                    @include prezentare-servici-box-model-p;
                    margin: 14.4px 40px;
                    color: #0d0d0d;
                }
            }
        }
        ///img  sectia gratar 
        div:nth-child(2) > figure {
            background-image: url(/img/gratar.png);

        }
        /// imagine sectie locatie deosebita
        div:nth-child(3) > figure {
            background-image: url(/img/locatie.png);

        }



        
    }
}



 @media screen and (min-width: 768px){
     
    header {
        min-height: 97px;
        
        #bk_container {
            @include flexRowCenter;
            height: 97px;
         
            figure {
                margin: 0;
                display: block;
                padding-top: 10px;

                 img {
                    margin: 0;
                    height: auto;
                    max-width: 391px;
                    min-width: 276px;
                }
            } 

            button {
                margin: auto;
            }

            figure {
                min-width: 150px;
                max-width: 284px;
                padding-left: 45px;
                padding-right: 10px;
            }
        } 
        
    }

    .hero-section-01 {

        p {
            @include flexCenter(center);
            padding-left: 100px;
            padding-right: 100px;
            min-width: 562px;
            max-width: 792px;
        }
    }

    .prezentare-generala {
        display: flex;
        margin-top: -100px;
        
            div{
                margin-right: 50px;  
            }
    }

    .despre-noi {
        margin: 150px auto;
        max-width: 1140px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        figure {
            width: 50%;
            max-height: 100%;
            max-width: 467px;
            float: left;
            margin: 0;
            
            img {
                display: block;
                width: 100%;
                margin: 0 auto;    
            }
        }

        div {
             width: 50%;
             float: right;
             margin: 0;

            h5 {
                font-size: 20px;
                padding-left: 40px;
                padding-right: 40px;
            }

            h1 {
                font-size: 50px;
            }

            p {
                padding: 0 30px;
            }
            
            button {
                margin-top: 50px;
            }
        }
    }

    .prezentare-camere > .image-container {
        padding-bottom: 100px;

        >figure{
            height: 500px;
        }

        .image-container-3-type > figure{
            height: 150px !important;
        }
        div > .extra-img> figure{
            height: 150px 
        }
    }

    .prezentare-servici {
        width: 100%;
        ///va prezentam servicile ...
        >div:nth-child(2) {
            margin-top: 60px;
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-evenly;
           
            div:nth-child(1) { /// right float
                width: 50%;
                
                img{
                    display: inline-block;
                    width: 15px;
                    height: 3px;
                    vertical-align: middle;
                    padding: 0 20px;
                }

                h1{
                    font-size: 50px;
                    text-align: left;
                    font-weight: 300;
                    padding-right: 50px;
                }
                h5{
                    display: inline-block;
                    text-align: left;
                    margin-top: 0;
                    
                }
            }
            ///left float
            div:nth-child(2) {
                width: 50%;
                p{
                    text-align: left;
                }   
              
            }   
        }

        .wrap-container{
            display:flex;
            flex-wrap: wrap;

            .prezentare-servici-box-model{
                width: 280px;
                padding: 50px;
                margin-top: 50px;
            }
        }        
    }

    .prezentare-puncte-forte {
        width: 100%;
        
           
    }
 }


@media screen and (min-width: 1024px) {
    
        #bk_container {
            @include flexCenter(center);
            max-width: 1000px;

            figure {
                margin: 0;
            }

            div {
                margin: 0;
            }
        }
    
        .hero-section-01 {
            
                h1 {
                    @include flexCenter(center);
                    max-width: 960px;
                    padding-left: 100px;
                    padding-right: 100px;
                    font-size: 68px;// nici cum nu merge asta 
                }
        }

        body>.prezentare-generala {
            @include autoMarginLR;
            max-width: 1140px;

                >div{
                    h1{
                        font-size: 44px;
                    }
                }
        }

        .prezentare-camere > h1{
            font-size: 50px;
        }

        .extra-img > figure {
            &:nth-child(4) {
                margin-right:0 !important;
            }
        }

        .image-container-3-type > figure {
            &:nth-child(1) {
                margin-left:0 !important;
            }
        }

        .third-container >.image-container-3-type > figure {
            &:nth-child(3) {
                margin-right:0 !important;
            }
        }

        .forth-container  >.image-container-3-type > figure {
            &:nth-child(3) {
                margin-right:0 !important;
            }
        }
        /// nice selector !!!
        .prezentare-servici > div:nth-child(n+2){
                max-width: 1140px;
                margin: auto;
        }
        
        .prezentare-servici> div:nth-child(2){
            margin-top: 100px;
            max-width: 1000px;
              
        }
}

 @media screen and (min-width: 1368px) {

            header>#bk_container>figure {
                padding-left: 0px;
                padding-right: 0px;
            }

            .hero-section-01 > h1 {
                font-size: 72px;
                line-height: 68px;// nici cum nu merge asta 
            }

            header>#bk_container>div{
                margin: 0;  
            }   
            
            
}